.Field--select--wrapper {
  width: 50vw;
  margin-bottom: 50px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(data:image/svg+xml;utf8,<svg fill=%27white%27 height=%2724%27 viewBox=%270 0 24 24%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7 10l5 5 5-5z%27/><path d=%27M0 0h24v24H0z%27 fill=%27none%27/></svg>);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 15px;
  border: 2px solid white;
  padding: 10px 11px;
}

input[type='text'] {
  background-color: var(--color-black);
  margin: 20px;
  border-bottom: 1px solid var(--color-lightGrey);
  color: var(--color-midgrey);
  padding: 5px;
  font-size: 24px;
  outline: none;
  width: 33vw;
}
