.Radio--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.Radio--miniWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type='radio'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  border: solid 2px grey;
  width: 30px;
  height: 30px;
  margin: 0;
}

input[type='radio']:checked {
  background-color: white;
  border: none;
}

.Radio--placeholder {
  display: none;
}
