.Survey {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 100;
}

.Survey--wrapper {
  padding: 15%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Survey--buttonWrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}
.Survey--button--initial {
  margin-top: 50px;
}

.Survey--surveyFor {
  position: absolute;
  top: 32px;
  right: 60px;
}

.Survey--progress-wrapper {
  position: absolute;
  width: 95vw;
  bottom: 30px;
}
