@import url('https://rsms.me/inter/inter.css');
* {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter var', sans-serif;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black) 0% 0% no-repeat padding-box;
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
button {
  padding: 21px 60px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
}
